<% content_for :title, "Editing padel center" %>

<h1>Editing padel center</h1>

<%= render "form", padel_center: @padel_center %>

<br>

<div>
  <%= link_to "Show this padel center", @padel_center %> |
  <%= link_to "Back to padel centers", padel_centers_path %>
</div>
