<% content_for :title, "New padel center" %>

<h1>New padel center</h1>

<%= render "form", padel_center: @padel_center %>

<br>

<div>
  <%= link_to "Back to padel centers", padel_centers_path %>
</div>
