<div id="<%= dom_id rent %>">
  <p>
    <strong>Padel court:</strong>
    <%= rent.padel_court_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rent.user_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= rent.start_time %>
  </p>

</div>
