<% content_for :title, "New center review" %>

<h1>New center review</h1>

<%= render "form", center_review: @center_review %>

<br>

<div>
  <%= link_to "Back to center reviews", center_reviews_path %>
</div>
